@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    width: 98vw;
    height: 98vh;
    background-color: #66D2CE;
    font-family: "Oswald", sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #222222;
    border:solid 2px #169976;
    border-radius: 7px;
    padding: 15px;
}

#description{
    max-width: 140px;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 0.7s;
    text-align: center;
}

img{
    border-radius: 10px;
}

img:hover{
    scale: 105%;
}

p{
    margin: 3px;
    padding: 0;
}

.card:hover #description{
    opacity: 1;
}

.card>p{
    color: goldenrod;
}


button{
    width: 110px;
    height: 30px;
    background-color: #FFEB00;
    border-radius: 8px;
}

button:hover{
    background-color: #D4C000;
}

.carrito{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.product{
    border-radius: 10px;
    background-color:#ffffff;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product>img{
    width: 100px;
    height: 100px;
}  
